body{
    background: rgb(15, 15, 15);
}

h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#container{    
    position: relative;
    width: 400px;
    height: 400px;
    margin: 30px auto;   
}

img{
    float:left;
    margin: 10px auto;
}

.video{
    position: fixed;   
    left: 400px;
    top: 100px
}

p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{    
    text-decoration: none;    
}

a:hover{
    
}
